services:
  grafana:
    image: grafana/grafana-oss:12.2.0-17142428006-ubuntu
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    ports:
      - "3000:3000"
    depends_on:
      - grafana-git-sync

  grafana-git-sync:
    build: .
    image: grafana-git-sync:latest
    container_name: grafana_git_sync
    environment:
      - GIT_REPO_URL=ssh://git@example.com/grafana_dashboards.git
      - GIT_BRANCH=master
      - GIT_REPO_SUBDIR=dashboards
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GIT_SSH_KEY=-----BEGIN OPENSSH PRIVATE KEY-----\nb3Blbn...oA1fuasUdzXT3Ifrbkg5pgTj\nrpIeNd2acpgdCtzkjv9yAAAAEGVmcmVtb3ZAYm9vbHRpbWUBAgMEBQ==\n-----END OPENSSH PRIVATE KEY-----
      - GRAFANA_URL=http://grafana:3000
    ports:
      - "8080:8080"  # Health check endpoint
    # healthcheck:
    #   test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/healthz || exit 1"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 10s
    restart: always
